@using AspNetCoreHero.ToastNotification.Notyf
@{
    ViewData["Title"] = "Menu";
    Layout = "_Layout";
}
<div class="container-fluid ">
    <div class="container p-0 m-0">
        <div>
            <div class="col-2">
                <a class="text-decoration-none fs-2 fw-bolder" href="#">Menu</a>
            </div>
        </div>
    </div>
    <div class="col-12 p-0">
        <div class="row">
            <div class=" mb-2 bg-white ">
                <div class="col-12 d-flex">
                    <div class="m-1 p-2 border-bottom border-primary">
                        <div class="ItemSection">
                            <img src="/images/icons/icons8-list.svg" alt="" height="20" width="20">
                            <span class="text-primary">Items</span>
                        </div>
                    </div>
                    <div class="m-1 p-2">
                        <div>
                            <img src="/images/icons/category-svgrepo-com.svg" class="ModifierSection" alt="" height="20"
                                width="20">
                            <span class="text-primary">Modifiers</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="MenuContainer">
                <partial name="ItemPartialView.cshtml" />
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script>
    @* declaring gloabal variables *@
     var ModifiersOfCurrentModifierGroup = [];
      var CurrentModifierGroupId = 0;
    var deletedmodifierlist = [];
    var addedmodifierlist = [];
    
    $(document).ready(function () {
        $(document).on("click", ".ModifierSection", function () {
            var ps = {
                currentSection: "modifier",
            };
            $.ajax({
                url: "@Url.Action("ModifierPartialView", "Menu")",
                type: 'POST',
                data: ps,
                success: function (result) {

                    $('#MenuContainer').empty();
                    $('#MenuContainer').html(result);

                },
                error: function (error) {
                    console.log(error, "error")
                }
            });
        });
        
    });
</script>