<div class="row " id="CategoryList">
    <div class="col-12 d-flex justify-content-between my-2">
        <span class="mx-4 text-primary fw-bold fs-4">Category</span>
        <img width="40" height="40" src="https://img.icons8.com/ios-filled/50/228BE6/plus-2-math.png" alt=""
            id="AddCategory" data-bs-toggle="modal" data-bs-target="#AddCategoryModal">
    </div>
    <div class="col-12 container ">
        <ul class="list-unstyled">
            <li class="m-3 d-flex justify-content-between">
                <div class="mt-2">
                    <img src="/images/icons/dots-six-vertical-thin-svgrepo-com.svg" alt="" height="30" width="30">
                    <a href="" class="text-decoration-none  ">
                        <span class="fw-bold text-primary fs-6 ">Sandwich</span>
                    </a>
                </div>
                <div class="EditDeleteCategory">
                    <a href="/Navigation/EditUser.html"><img class="m-2" src="/images/icons/editLogo.svg" alt=""
                            height="15" width="15"></a>
                    <img class="m-2" src="/images/icons/deleteIcon.svg" alt="" height="25" width="25"
                        data-bs-toggle="modal" data-bs-target="#DeleteModal">
                </div>
            </li>
            <li class="m-3 d-flex">
                <img src="/images/icons/dots-six-vertical-thin-svgrepo-com.svg" alt="" height="30" width="30">
                <a href="" class="text-decoration-none text-dark"><span class="fw-bold fs-6">Pasta</span></a>
            </li>
            <li class="m-3 d-flex">
                <img src="/images/icons/dots-six-vertical-thin-svgrepo-com.svg" alt="" height="30" width="30">
                <a href="" class="text-decoration-none text-dark"><span class="fw-bold fs-6">Sides and
                        Appetizers</span></a>
            </li>
            <li class="m-3 d-flex">
                <img src="/images/icons/dots-six-vertical-thin-svgrepo-com.svg" alt="" height="30" width="30">
                <a href="" class="text-decoration-none text-dark"><span class="fw-bold fs-6">Salads</span></a>
            </li>
            <li class="m-3 d-flex">
                <img src="/images/icons/dots-six-vertical-thin-svgrepo-com.svg" alt="" height="30" width="30">
                <a href="" class="text-decoration-none text-dark"><span class="fw-bold fs-6">Dips and Sauces</span></a>
            </li>
            <li class="m-3 d-flex">
                <img src="/images/icons/dots-six-vertical-thin-svgrepo-com.svg" alt="" height="30" width="30">
                <a href="" class="text-decoration-none text-dark"><span class="fw-bold fs-6">Pizza</span></a>
            </li>
            <li class="m-3 d-flex">
                <img src="/images/icons/dots-six-vertical-thin-svgrepo-com.svg" alt="" height="30" width="30">
                <a href="" class="text-decoration-none text-dark"><span class="fw-bold fs-6">Desserts</span></a>
            </li>
            <li class="m-3 d-flex">
                <img src="/images/icons/dots-six-vertical-thin-svgrepo-com.svg" alt="" height="30" width="30">
                <a href="" class="text-decoration-none text-dark"><span class="fw-bold fs-6">Burger</span></a>
            </li>
        </ul>
    </div>
</div>