@model Entity.Bean.ForgotPasswordBean;
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "_LoginLayout";
}
<div class="col-12 my-3 LoginPageText fs-5">
    <div class="row">
        <span class="fs-3 col-12">Forgot Password</span>
        <span>Enter your Email and we'll send you a link to reset your password</span>
    </div>
</div>
<!-- Input Fields -->
<form asp-controller="login" asp-action="ForgotPassword">
<div id="LoginPageInputFields" class="col-md-11">
    <div class="form-floating mb-3 position-relative">
        <input  type="email" class="form-control" asp-for="Email" id="floatingInput" placeholder="name@example.com" value="@Model.Email">
        <label for="floatingInput" class="w-100">Email*</label>
        <img class="ImgInput" src="/images/icons/customer.svg" alt="" height="20" width="20">
    </div>
</div>
<div class="col-md-11">
    <button type="submit" class="btn btn-primary w-100">Send</button>
</div>
</form>
<div class="col-md-11 d-flex align-items-center justify-content-center my-2">
    <a  asp-controller="Login" asp-action="index">Back to LogIn</a>
</div>