@model Entity.Bean.UserLoginBean;
@{
    ViewData["Title"] = "Login";
    Layout = "_LoginLayout";

}

<!--  Page context -->
<div id="" class="col-12 my-3 LoginPageText">
    <span class="h5 px-1">Welcome,</span>
</div>
<!-- Input Fields -->
<form asp-controller="login" asp-action="SignIn" method="post">
    <div id="LoginPageInputFields" class="col-12">
        <div class="form-floating mb-3 position-relative">
            <input type="email" class="form-control" id="EmailInput" asp-for="Email" placeholder="name@example.com">
            <label for="EmailInput" class="w-100">Email*</label>
            <img class="ImgInput" src="/images/icons/customer.svg" alt="" height="20" width="20">
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" asp-for="Password" placeholder="Password">
            <label for="floatingPassword">Password* </label>
            <img class="ImgInput" src="/images/icons/password not visible.svg"
                onclick="eyeToggle('floatingPassword',this)" alt="" height="20" width="20">
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>
    </div>
    <div id="RememberMe-ForgetPass" class="col-12 my-3 d-flex justify-content-between">
        <div>
            <input type="checkbox" asp-for="RememberMe" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label LoginPageText" for="exampleCheck1">
                Remember me
            </label>
        </div>
        <div>
            <a class="text-decoration-none" id="forgotPasswordLink">Forget Password?</a>

        </div>

    </div>
    <div class="col-12 my-2">
        <button type="submit" class="btn btn-secondary w-100">Login</button>
    </div>
</form>
@section Scripts {
    <script>
        $(function () {
            $('#EmailInput').on('input', function () {
                var email = $(this).val();
                $('#forgotPasswordLink').attr('href', '@Url.Action("ForgotPassword", "login")?email=' + encodeURIComponent(email));
            });
        });

    </script>
}