@model Entity.Bean.ResetPasswordbean;
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "_LoginLayout";
}
<div id="" class="col-12 my-3 LoginPageText">
    <span class="fs-3">Reset Password</span>
</div>
<!-- Input Fields -->
<form asp-controller="login" asp-action="ResetPassword">
    <div id="LoginPageInputFields" class="col-12">
        <div class="form-floating mb-3 position-relative">
            <input type="hidden" asp-for="email" value="@Model.email" >
            <input type="hidden" asp-for="token" value="@Model.token" >
            <input type="password" asp-for="Password" class="form-control" id="NewPasswordField"
                placeholder="name@example.com">
            <label for="NewPasswordField" class="w-100">New Password*</label>
            <img class="ImgInput" src="/images/icons/password not visible.svg"
                onclick="eyeToggle('NewPasswordField',this)" alt="" height="20" width="20">
        </div>
        
        <div class="form-floating">
            <input type="password" asp-for="ConfirmPassword" asp- id="ConfirmPasswordField" class="form-control"
                id="floatingPassword" placeholder="Password">
            <label for="ConfirmPasswordField">Confirm Password* </label>
            <img class="ImgInput" src="/images/icons/password not visible.svg"
                onclick="eyeToggle('ConfirmPasswordField',this)" alt="" height="20" width="20">
        </div>
    </div>
    @* <input type="hiddden" value="@"> *@
    <div class="col-12 my-3">
        <button type="submit" class="btn btn-primary w-100">Submit</button>
    </div>
</form>
<div class="col-md-11 d-flex align-items-center justify-content-center my-2">
    <a asp-controller="login" asp-action="index" class="text-decoration-none">Back to LogIn</a>
</div>